

.multi-steps > li.is-active:after, .multi-steps > li.is-active ~ li:after {
    background-color: #ededed;
}
.multi-steps {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 0;
}
.multi-steps > li {
    counter-increment: stepNum;
    text-align: center;
    display: table-cell;
    position: relative;
    color: var(--color-background-primary)
}
.multi-steps > li:before {
    content: counter(stepNum);
    display: block;
    margin: 0 auto 4px;
    background-color: #fff;
    width: 36px;
    height: 36px;
    line-height: 32px;
    text-align: center;
    font-weight: bold;
    border-width: 2px;
    border-style: solid;
    border-color: var(--color-background-primary);
    border-radius: 50%;
}
.multi-steps > li:after {
    content: '';
    height: 2px;
    width: 90%;
    background-color: var(--color-background-primary);
    position: absolute;
    top: 16px;
    left: 61%;
}
.multi-steps > li:last-child:after {
    display: none;
}
.multi-steps > li.is-active:before {
    background-color: #fff;
    border-color: var(--color-background-primary);
}
.multi-steps > li.is-active ~ li {
    color: #808080;
}
.multi-steps > li.is-active ~ li:before {
    background-color: #ededed;
    border-color: #ededed;
}
.multi-steps > li:hover:before, .multi-steps > li.is-active ~ li:hover:before{
    cursor: pointer;
    border-color: rgb(25, 25, 133);
}

.multi-steps > li:hover:before li{
   color: yellow;
}