
.container .dark {
  background-color:yellow;
  color: #fff;
};  


.container .light {
  background-color: var(--color-background);
    color: #333;
};  

  @media (max-width: 520px) {
   .container {
    width: 100%;
   }
}